@page "{name}/{description}/{price}/{key}"
@model OrderModel

@{
	ViewData["Title"] = "Submit Order";
}

<h2 class="text-center my-4">Submit Your Order</h2>

<div class="order-form-container">
	<form method="post">

		<div class="form-group">
			<label for="orderName">Order Name:</label>
			<input type="text" class="form-control" id="orderName" name="OrderName" value="@Model.Name" readonly />
		</div>

		<div class="form-group">
			<label for="description">Description:</label>
			<textarea class="form-control" id="description" name="Description" rows="3" readonly>@Model.Description</textarea>
		</div>

		<div class="form-group">
			<label for="price">Price:</label>
			<input type="number" class="form-control" id="price" name="Price" value="@Model.Price" readonly />
		</div>

		<div class="form-group">
			<label for="userEmail">User Email:</label>
			<input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="Enter your email" required />
		</div>

		<div class="form-group">
			<input type="hidden" name="ProductKey" value="@Model.ProductKey" />
		</div>

		<div class="form-group text-center">
			<input type="submit" value="Submit Order" class="btn btn-primary mt-4" />
		</div>
	</form>
</div>